/* layout */
#wrapper {background:url(../images/common/wrap_bg.jpg) no-repeat center 0;}
#headerWrap, #contents, #slogan, .footerInner {width:940px;}
#headerWrap {margin:0 auto; height:105px; background:url(../images/common/bg_menubox.png) no-repeat 0 0;}
#header {position:relative; background:none;}

/* 메인 콘텐츠 layout */
#visual {margin:0 auto; width:824px; height:104px;}
#contents {margin:0 auto; min-height:400px; padding-top:30px; background:url(../images/common/contents_box.png) no-repeat 0 0;}
.section {float:left; width:239px; margin-left:20px; margin-right:25px; display:inline;}
.sectionInfo {float:left;width:375px; margin-right:24px;}
.sectionEvent {float:left;width:185px;}

/* 서브 콘텐츠 layout  */
#subWrap {float:left; display:inline;	width:213px; height:350px; margin-left:30px; margin-right:18px; background:url(../images/common/subwrap_bg.gif) no-repeat top right;}
#contentsWrap {float:left;	position:relative;	width:590px;}
#quick {float:right; width:50px;}

#slogan {clear:both; position: relative; margin:20px auto 0;}
#slogan h2 {position:absolute; overflow:hidden; width:1px; height:1px; font-size:0;line-height:0;}
#footer {height:75px; margin-bottom:15px; background:url(../images/common/footerbg.gif) repeat-x 0 0;}