#main {}
h3.today_tit {color:#cd0000;height:30px;line-height: 30px;padding-left: 10px;}

/*Today's Story*/
.n_text_list li {border-top:1px solid #ddd} /*내용*/
.n_text_list li a {display: block;height:25px;line-height:25px;padding-left: 10px;}
.n_img_list {width: 100%;overflow: hidden;margin: 10px 0;}
.n_img_list li {width:33.33%;float: left;text-align: center;}
.n_img_list li a {display: block}
.n_img_list li img {width: 80%;margin-bottom:5px}
.n_img_list li span {display: block}

/*공지사항*/
.noticeArea {
	clear: both;
	height: 20px;background:#f3f3f3;
	border-top: 1px solid  #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	padding-top: 7px;
}
.noticeTitle {
	margin-left: 10px;
	color:#cd0000;
}

/*배너*/
.bannerArea {
	height:43px ;
	background:#424242 url('../images/bn_main.png') no-repeat 10px center;
}
.bannerArea a {display: block;color:white;padding-top: 5px;}
.bannerArea span {margin-left:114px}
.bannerTitle {}
.bannerContents {font-size: 10px}