/*서브페이지 공통 스타일*/
.sub_tit {margin-bottom: 15px;font-size: 30px;letter-spacing:-1px;font-weight: bold}
.m_tit {margin-bottom:15px}
#s_main {padding:10px}

/*company 스타일*/
#s_main.company {
	background:url(../images/m1_01_img.png) no-repeat right bottom;
	padding:10px 10px 150px 10px;
}
.m_text {margin-bottom: 15px}

/*project 스타일*/
.project_list li {float: left;width:55px;padding:8px;text-align: center}
.project_list li img {width: 50px;height: 50px}
.project_list li a span {display:block}

/*recruit 스타일*/
.rec_list {margin-bottom:15px;}
.rec_list dt {font-weight: bold;color:#cd0000;letter-spacing:-1px;margin-bottom:10px;} /*용어*/
.rec_list dd {padding-left:15px;margin-bottom:5px;background:url(../images/icon_round.png) no-repeat 5px 5px;line-height: 18px;} /*용어설명*/

	/*request 스타일*/
	.req_tb {width: 100%;border-top:2px solid #aaa;padding-top:10px}
	.req_tb tr {}
	.req_tb th, .req_tb td {padding:5px 2px}
	.req_tb th {text-align: left;width:50px}
	.req_tb td {text-align: center}
	.req_tb input.req_input, .req_tb textarea {
		width: 100%;height:100%;padding:3px 5px;
		border:1px solid #aaa;outline:none;box-sizing:border-box;
		font-size:13px;
	}
	.req_tb textarea {min-height:200px;resize:vertical}
	.req_tb input.req_input {font-weight: bold;}
	.req_tb input.req_btn {
		border:3px solid #ddd;padding:5px 10px;
		background:#cb3300;font-weight: bold;color:white;
	}

#map_canvas {width:95%;height:500px;margin: 0 auto;}
/*notice 스타일*/