@import url(http://fonts.googleapis.com/css?family=Poiret+One);

/* reset */
* {margin:0;padding:0}
ol,ul {list-style:none}
a {outline:0; text-decoration:none;color:#555}
img {border:0;}
body {font:12px/1.6 'Poiret One';color:#555}

/* IE 낮은 버전 */
header, nav, section, footer, {display: block}

/* 숨김처리 */
h1, h3, h4, h5, h6 {display: none}

/*애니메이션*/
@keyframes scale_up{
	0% {transform:scale(0)}
	100% {transform:scale(1)}
}

/* 레이아웃 */
header {
	position: fixed;
	width: 15%;
	height: 100%;
}
header h2 {
	position: absolute;top: 70px;left:50%;
	width: 180px;height: 136px;
	background:url('../img/logo1.png') no-repeat;
	text-indent:-200px;
	transform:translateX(-50%);
}
header #gnb {
	position: absolute;top: 300px;left: 57px;
}
nav, #contents {
	position: relative;
	width: 85%;
	margin-left: 15%;
}

nav {
	height: 35px;
	background:black
}

#contents:after {content:"";display: block;clear: both}

.cont {
	float: left;
	height: 260px;
	animation:scale_up 1s
}
.cont1 {height: 520px;width: 60%}
.cont2, .cont6, .cont9 {width: 40%}
.cont3, .cont4, .cont5, .cont7, .cont8, .cont10, .cont11, .cont12 {width:20%}

.cont1 {background: #ddd}
.cont2 {background: #ccc}
.cont3 {background: #bbb}
.cont4 {background: #aaa}
.cont5 {background: #999}
.cont6 {background: #888}
.cont7 {background: #777}
.cont8 {background: #666}
.cont9 {background: #555}
.cont10 {background: #444}
.cont11 {background: #333}
.cont12 {background: #222}

/*반응형*/
/*PC*/
@media (min-width:1280px) and (max-width:1599px) {
	header {
		position: relative;
		width: 100%;
		height: 80px;
	}
	nav, #contents {
		position: relative;
		width:100%;
		margin-left: 0;
	}

	nav {
		height: 35px;
		background:black
	}

	#contents:after {content:"";display: block;clear: both}

	.cont {
		float: left;
		height: 260px
	}
	.cont1 {height: 520px;width: 60%}
	.cont2, .cont6, .cont9 {width: 40%}
	.cont3, .cont4, .cont5, .cont7, .cont8, .cont10, .cont11, .cont12 {width:20%}

}
@media (min-width:1024px) and (max-width:1279px) {
	header {
		position: relative;
		width: 100%;
		height: 80px;
	}
	nav, #contents {
		position: relative;
		width:100%;
		margin-left: 0;
	}

	nav {
		height: 35px;
		background:black
	}

	#contents:after {content:"";display: block;clear: both}

	.cont {
		float: left;
		height: 260px
	}
	.cont1 {height: 520px;width: 75%}
	.cont2, .cont3, .cont4, .cont5, .cont8, .cont9, .cont11, .cont12 {width: 25%}
	.cont6, .cont7, .cont10 {width:50%}

}
/*태블릿*/
@media (min-width:780px) and (max-width:1023px) {
	header {
		position: relative;
		width: 100%;
		height: 80px;
	}
	nav, #contents {
		position: relative;
		width:100%;
		margin-left: 0;
	}

	nav {
		height: 35px;
		background:black
	}

	#contents:after {content:"";display: block;clear: both}

	.cont {
		float: left;
		height: 260px
	}

	.cont1 {height: 520px;width: 100%}
	.cont4, .cont7, .cont10, .cont12 {display: none}
	.cont2, .cont6 {width: 66.6%}
	.cont3, .cont5, .cont8, .cont9, .cont11 {width: 33.3%}

}
@media (min-width:640px) and (max-width:779px) {
	header {
		position: relative;
		width: 100%;
		height: 80px;
	}
	nav, #contents {
		position: relative;
		width:100%;
		margin-left: 0;
	}

	nav {
		height: 35px;
		background:black
	}

	#contents:after {content:"";display: block;clear: both}

	.cont {
		float: left;
		height: 260px
	}

	.cont1 {height:400px;width: 100%}
	.cont2 {width: 100%}
	.cont3, .cont5, .cont6, .cont8, .cont9, .cont11 {width: 50%}
	.cont4, .cont7, .cont10, .cont12 {display: none}
}
@media (min-width:480px) and (max-width:639px) {
	header {
		position: relative;
		width: 100%;
		height:130px;
	}
	nav, #contents {
		position: relative;
		width:100%;
		margin-left: 0;
	}

	nav {display: none}

	#contents:after {content:"";display: block;clear: both}

	.cont {
		float: left;
		height:150px
	}

	.cont1 {height:400px;width: 100%}
	.cont2 {width: 100%}
	.cont3, .cont5, .cont6, .cont8, .cont9, .cont11 {width: 50%}
	.cont4, .cont7, .cont10, .cont12 {display: none}
}
@media screen and (max-width:480px) {
	header {
		position:fixed;top: 0;left: 0;z-index:10;
		width: 100%;
		height:40px;
		background:rgba(0,0,0,0.3);
	}
	nav, #contents {
		position: relative;
		width:100%;
		margin-left: 0;
	}

	nav {display: none}

	#contents:after {content:"";display: block;clear: both}

	.cont {display: none}
	.cont1 {height:1000px;width: 100%;display: block}
	/*세로도 100% 해야하지만 내용물이 없으므로*/
}