/*숨김처리*/
h2, h3, h4, h5, h6 {position: absolute;z-index: -1}

/*기본설정*/
a {text-decoration:none;color:black;display:block}
nav a:hover, nav a:active, nav a:focus{text-decoration:none}
.cfx:after {content:'';display:block;clear: both}

/*기본레이아웃*/