/*서브 콘텐츠 레이아웃*/
#contents{height:500px}
#subWrap {
	float:left;width:213px;height:350px;
	margin:0 18px 0 5px;
	background:url(../images/common/subwrap_bg.gif) no-repeat right;
}
#contentsWrap {float:left;width:590px;}

/*서브메뉴 및 검색영역은 base에서 선언*/

/*서브페이지*/